@import "./styles-variables.scss";

//alap formázás
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font-family: "Poppins-Regular", sans-serif;
    color: $c-white;
    background-color: $c-grey;
    overflow: hidden;
}

//mobilnézetben a kisebb felbontású háttér betöltése
@media screen and (max-width: 992px) {
    body {
        overflow: auto;
    }
}